<% if logged_in? %>
  <p>ようこそ<%= current_user.name %> さん</p>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Collections</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-3" style="margin: 20px;">
    <%= link_to "ログイン", login_path, class: "btn btn-block btn-dark" %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-3" style="margin: 20px;">
    <%= link_to "会員登録", signup_path, class: "btn btn-block btn-dark" %>
  </div>
</div>
<% end %>